body {
	margin-top: 60px;
	font-family: "Source Sans Pro", sans-serif;

	h1 {
		font-family: "Source Sans Pro", sans-serif;
	}
}

.navbar {
	.navbar-brand {
		color: #fff;
	}
}

.chartlist {
	li {
		position: relative;
		display: block;

		a {
			display: inline-block;
			color: #222 !important;
			padding: 0.4em 4.5em 0.4em 0.5em;
		  position: relative;
		  z-index: 2;
		  font-size: 18px;

		  &:focus {
		  	color: #222;
		  }
		  &:hover {
		  	color: #222;
		  }
		}

		.index {
		  display: block;
		  position: absolute;
		  top: 0;
		  left: 0;
		  height: 100%;
		  background: #9D1D08;
		  opacity: 0.6;
		  text-indent: -9999px;
		  overflow: hidden;
		}

		.acreage {
			font-size: 18px;
		}

	}

	.acreage {
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  margin: 0 0.3em;
	  text-align: right;
	  color: #999;
	  font-weight: bold;
	  font-size: 0.875em;
	}
}

.active {
	animation: pound .5s infinite;
}

@keyframes pound {
	from { transform: none }
	50% { transform: scale(1.4) }
	to { transform: none }
}